.footer {
  background-color: var(--color-white);
  margin-top: 6rem;
  box-shadow: 0px -1px 3px #707070;     
  color: var(--color-black);      
  text-shadow: 0px 1px 2px var(--color-black);
  text-align: center;          
  font-size: 1rem;   
}
.copy{
     vertical-align: -0.1rem; /* key fix */
}