.messages-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.4rem;
    h2{
        margin-top: 1rem;
        font-size: 2rem;
        color: var(--color-black);
        text-shadow: 0px 1px 4px var(--color-primary);
    }
}

.message-card{
    width: 30rem;
    margin: 0.6rem;
    padding: 1rem;
    background-color: var(--color-cardbg);
    border-radius: 20px;
    border: 3px solid var(--color-primary-light);
    box-shadow: 0px 5px 15px rgba(39, 204, 94, 0.5);

}

.message-for{
    color: var(--color-primary);
    font-size: 1.3rem;
    padding: 0 0 0.1rem;
    text-shadow: 0px 1px 2px var(--color-primary-dark);
}

.message-category, .message-date{
    color: var(--color-primary-light);
    font-size: 1.1rem;
    text-shadow: 0px 1px 2px var(--color-primary-dark);
}
.message-category{
    padding: 0 0 0.6rem;
}
.message-date{
    padding: 2rem 0 0;
}
.messages-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.message-content{
    text-shadow: 0px 1px 2px var(--color-black-light);
    
}


.new-message-btn{
    color: black;
    text-decoration: none;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.425);
    font-size: 1.4rem;
    font-weight: bold;
    border: 2px solid black;
    padding: 0 1rem;
    border-radius: 15px;
    background-color: var(--color-primary);
    box-shadow: 0px 3px 5px rgba(39, 204, 94, 0.5);
    &:hover{
        transition: transform 0.3s;   
        transform: scale(1.05);
        background-color: var(--color-primary-light);
    }
}

.delete-btn {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  &:hover{
    transition: 0.3s;
    background-color: white;
  }
}

.delete-btn span {
  line-height: 0;
  font-size: 16px;
  color: #a33;
}


.delete-and-for-container{
    display: flex;
    justify-content: space-between;
}

.create-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}