:root {
  --color-bg: #e7e7e7;



  --color-primary-light: #82f1a7;
  --color-primary: #27cc5e;
  --color-primary-dark: #186b34;



  --color-white: #e6ece5;

  --color-black: #0f0f0f;
  --color-black-light: #363636;
  
  --color-gray: #222121; 






  --color-cardbg: #1a1a1a;

  --color-text: #e7e9fa;
  --color-text-dark: #555;


  --shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

  font-family: "Cairo", sans-serif;
}
